@import "@material/theme/color-palette";

$mdc-theme-primary: #fff;
$mdc-theme-secondary: #007ac1;

$mdc-theme-background: #f5f5f6;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
$mdc-dialog-max-width: auto;
