@import "@material/theme/color-palette";

$mdc-theme-primary: #007ac1;
$mdc-theme-secondary: #67daff;
$mdc-theme-third: #00a9f4;

$mdc-theme-background: #f5f5f6;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
