<div class="container-fluid">
  <div>
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
      >
        <h4>Percentatge de persones grans que viuen soles per ABS i sexe. Barcelona, any 2017</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" id="exportMap">Exportació</button>
          </div>
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" id="original">Original</button>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="row container-fixed">
      {% include "src/partials/charts.html" %} 
  </div>
</div>