<nav class="sidebar">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"
        ><i class="fa fa-search"></i
      ></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Gràfics"
      aria-label="Gràfics"
      aria-describedby="basic-addon1"
    />
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a
        href="#maps"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Mapes i gràfics per ABS</a
      >
      <ul class="collapse list-unstyled" id="maps">
        <li>
          <a href="#map"
            >Percentatge de persones grans que viuen soles per ABS i
            sexe. Barcelona, any 2017.</a
          >
        </li>
        <li>
          <a href="#"
            >Percentatge de persones entre 65 i 74 anys que viuen
            soles, per ABS i sexe. Barcelona, any 2017.</a
          >
        </li>
        <li>
          <a href="#"
            >Percentatge de persones entre 75 i 84 anys que viuen
            soles, per ABS i sexe. Barcelona, any 2017.</a
          >
        </li>
        <li>
          <a href="#"
            >Percentatge de persones de 85 anys i més que viuen soles,
            per ABS i sexe. Barcelona, any 2017.</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#abs1a"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >ABS 1A - BCNeta</a
      >
      <ul class="collapse list-unstyled" id="abs1a">
        <li>
          <a href="#bar-chart"
            >Composició de les llars per ABS, districte, AIS i
            Barcelona. ABS 1A, any 2017.</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#abs1b"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >ABS 1B - Casc Antic</a
      >
      <ul class="collapse list-unstyled" id="abs1b">
        <li>
          <a href="#"
            >Composició de les llars per ABS, districte, AIS i
            Barcelona. ABS 1B, any 2017.</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#abs1c"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >ABS 1C - Gòtic</a
      >
      <ul class="collapse list-unstyled" id="abs1c">
        <li>
          <a href="#"
            >Composició de les llars per ABS, districte, AIS i
            Barcelona. ABS 1C, any 2017.</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
