<div class="dropdown">
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary"
    data-toggle="dropdown"
  >
    Compartir
  </button>
  <div class="dropdown-menu social">
    <ul>
      <li>
        <a
          class="fa fa-facebook"
          href="https://www.facebook.com/sharer.php?u="
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-whatsapp"
          href="whatsapp://send?text="
        ></a>
      </li>
      <li>
        <a
          class="fa fa-twitter"
          href="https://twitter.com/intent/tweet?url=&text=&via="
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-linkedin"
          href="https://www.linkedin.com/shareArticle?url=&title="
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-google-plus"
          href="https://plus.google.com/share?url="
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</div>
