<div class="dropdown">
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary"
    data-toggle="dropdown"
  >
    Compartir
  </button>
  <div class="dropdown-menu social">
    <ul>
      <li>
        <a
          class="fa fa-facebook"
          href="https://www.facebook.com/sharer.php?u=http://localhost:8080/"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-whatsapp"
          href="whatsapp://send?text=http://localhost:8080/"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-twitter"
          href="https://twitter.com/intent/tweet?url=http://localhost:8080/&text=&via="
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-linkedin"
          href="https://www.linkedin.com/shareArticle?url=http://localhost:8080/&title="
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="fa fa-google-plus"
          href="https://plus.google.com/share?url=http://localhost:8080/"
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</div>
