@media (max-width: 768px) {
  .navbar {
    padding: 0px 5px !important;
  }
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.active {
    margin-left: 0;
  }
  .sidebarCollapse span {
    display: none;
  }
  .header {
    display: none;
  }
  #map svg {
    top: -17vh;
    position: relative;
    width: 98% !important;
    margin-left: 0 !important;
  }
  #map {
    margin-left: 0 !important;
    max-height: 25em;
    margin-bottom: 5em;
  }
  .chart-information {
    display: contents;
  }
  .box {
    border: 0px;
    margin-bottom: 1em;
  }
  div .container-fluid {
    padding: 0 !important;
  }
  .social-links {
    margin-left: 10% !important;
    width: 15em;
  }
  main h4 {
    font-size: 0.7em;
  }
  #map-action {
    display: none;
  }
}

@media (max-width: 411px) {
  #map svg {
    top: 3vh;
  }
  .social-links {
    margin-left: -15% !important;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  #map svg {
    top: 0vh;
  }
  #map {
    margin-bottom: 0;
  }
  .social-links {
    margin-left: -35% !important;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  #map svg {
    top: 2vh;
  }
  #map {
    margin-bottom: 1em;
  }
  .social-links {
    margin-left: -24% !important;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  #map svg {
    top: 0vh;
  }
  #map {
    margin-bottom: 2em;
  }
  .social-links {
    margin-left: -24% !important;
  }
}

@media (min-width: 414px) and (max-width: 420px) {
  #map svg {
    top: 0vh;
  }
  #map {
    margin-bottom: 5em;
  }
  .social-links {
    margin-left: -16% !important;
  }
}

@media (min-width: 768px) and (max-width: 790px) {
  #map svg {
    top: 1vh;
    width: 100% !important;
    height: 60em !important;
  }
  #map {
    margin-bottom: 25em;
  }
  .social-links {
    margin-left: -12% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .social-links {
    margin-left: -18% !important;
  }
}
