<div class="container" id="abs-bcn-map" data-fileName="ABS Barcelona">
  <div id="map"></div>
  <div class="row chart-information">
    <div class="col-lg-3 box">
      <h5 class="border-bottom">Filtres</h5>
      <select class="browser-default custom-select" id="filters">
        <option value="0">Homes 65-74 anys que viuen sols</option>
        <option value="1">Homes 75-84 anys que viuen sols</option>
        <option value="2"
          >Homes de 85 anys i més que viuen sols</option
        >
      </select>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-3 box">
      <h5 class="border-bottom">Informació</h5>
    </div>
  </div>
  <br />
  <div class="row border-top border-bottom">
    <div class="col-3 col-sm-1 col-md-4"></div>
    <div class="col-6 col-sm-10 col-md-4">
      {% include "src/partials/social.html" %}
    </div>
    <div class="col-3 col-sm-1 col-md-4"></div>
  </div>
</div>
