<div class="container" id="abs-bcn-map" data-fileName="ABS Barcelona">
  <div class="row map">
    <svg id="svg" width="900" height="1000"></svg>
  </div>
  <div class="row map-information">
    <div class="col-lg-3 box">
      <h5 class="border-bottom">Filtres</h5>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-3 box">
      <h5 class="border-bottom">Informació</h5>
    </div>
  </div>
  <hr class="mt-5 mb-5" />
  <div class="row border-top">
    <div class="col-3 col-sm-1 col-md-4"></div>
    <div class="col-6 col-sm-10 col-md-4">
      {% include "src/partials/social.html" %}
    </div>
    <div class="col-3 col-sm-1 col-md-4"></div>
  </div>
</div>
