<div class="container" id="abs-bcn-map" data-fileName="ABS Barcelona">
  <div id="map"></div>
  <div class="row chart-information">
    <div class="col-lg-3 box">
      <h5 class="border-bottom">Filtres</h5>
      <select class="browser-default custom-select" id="filters">
        <option value="0">Homes 65-74 anys que viuen sols</option>
        <option value="1">Homes 75-84 anys que viuen sols</option>
        <option value="2"
          >Homes de 85 anys i més que viuen sols</option
        >
      </select>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-3 box information">
      <h5 class="border-bottom">Informació</h5>
      <ul>
        <li>
          <div
            class="color-box"
            style="background-color: #ffffff;"
          ></div>
          De 8.5 a 11.10
        </li>
        <li>
          <div
            class="color-box"
            style="background-color: #ffd333;"
          ></div>
          De 11.11 a 12.30
        </li>
        <li>
          <div
            class="color-box"
            style="background-color: #ffde66;"
          ></div>
          De 12.31 a 13.60
        </li>
        <li>
          <div
            class="color-box"
            style="background-color: #fff4cc;"
          ></div>
          De 13.61 a 16.10
        </li>
        <li>
          <div
            class="color-box"
            style="background-color: #ffe999;"
          ></div>
          De 16.11 a 29.40
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row border-top border-bottom">
    <div class="col-3 col-sm-1 col-md-4"></div>
    <div class="col-6 col-sm-10 col-md-4">
      {% include "src/partials/social.html" %}
    </div>
    <div class="col-3 col-sm-1 col-md-4"></div>
  </div>
</div>
